// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.position-relative {
    background-image: asset-url('kofte.jpg');
    background-size: cover;

}
#site-ad {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.5em;
}

#site-ad:hover {
    color: #000;
    text-decoration: none;

}
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    padding-left: 10px;
    padding-right: 10px;
}

.well a {
    color: #212529;
}

.yazar {
    margin-top: 5px;
}

.btn x-large:hover {
    color: #fff;
    text-decoration: none;

}

.renkk a {
    color: #212529;
}